

body{
background-color:#fee5e8;
text-align:center;
align-items:center;
}

#banner-amostrado{ 
    display: flexbox;
    text-align: center;
    height:200px;
    width:300px;
    border: 4px solid rebeccapurple
}

#paragrafo1{
    color: white
}

#paragrafo3{
    color: white
}

